<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mbc.mapper.UserMapper">
    
   <select id="findByUsername" resultType="userVo">
   		select * from tbl_user where username=#{username}
   </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO tbl_user (id, username, password, name, email, phone, role) VALUES (seq_id.NEXTVAL, #{username}, #{password}, #{name}, #{email}, #{phone}, #{role})
    </insert>
    </mapper>